.grid {
    border-radius: 10px; 
    margin:5px;
}

.grid-body {
    padding-top: 30px;
  }
  
.container h1 .heading{
    width:52rem; 
    margin:10px;
    font-size: 30px; 
    padding:0.5rem;
    background-color: #6c757d;
}
  
  