.grid {
    border-radius: 10px; /* Add rounded corners */
    margin:5px;
}

.container h1 .heading{
    width:52rem; 
    margin:10px;
    font-size: 30px; 
    padding:0.5rem;
    background-color: #6c757d !important;
}
  
  